.top-nav {
    background-color: #2cf68700;
    border-color: #2b2523;
    border-radius: 5px;
    margin: 14px;
    color: rgb(216, 234, 240);
}

.nav-cust {
    background-image: url('https://images.wallpaperscraft.com/image/glare_color_bright_colorful_background_19980_1920x1080.jpg');
    border-color: #2b2523;
    border-style: outset;
    border-radius: 5px;
    padding: 6px;
    margin: 14px;
    border-width: 8px;
    color: rgb(216, 234, 240);
    -webkit-box-shadow: 4px 8px 19px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 8px 19px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 8px 19px 6px rgba(0, 0, 0, 0.75);
}

.food-img{
    max-height: 200px;
}

.bot-nav {
    background-color: #e97effad;
    border-color: #2b2523;
    border-radius: 5px;
    border-style: outset;
    border-width: 8px;
    padding: 6px;
    margin: 14px;
    color: rgb(216, 234, 240);
    -webkit-box-shadow: 4px 8px 19px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 8px 19px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 8px 19px 6px rgba(0, 0, 0, 0.75);
}

.li-item-cust,
.li-item-cust * {
    height: 35px;
    font-size: 0.9em;
}

.inactive {
    color: rgb(20, 20, 20);
}

.inactive:hover {
    border-color: #2b2523 !important;
    color: #aac8d1;
}

.smol-txt {
    font-size: 0.5em;
}

.text-in {
    position: relative;
    border-color: #2b2523;
}

.search-input {
    border-style: inset;
    border-radius: 20px;
    margin-top: 140px;
    background-color: #36353bb2;
    color: white;
    text-shadow: 2px 2px black;
    padding-left: 10px;
}

@media only screen and (max-width: 1500px){
    .search-input{
        display: none;
    }
}

.search-btn {
    border-style: inset;
    border-radius: 10px;
    margin-right: 4px;
    border-width: 2px;
    color: #fff8f8;
    background-color: #36353bb2;
    margin-top: 140px;
}

.persona {
    position: relative;
}

.head-nav {
    margin-top: -110px;
}

#active-cust {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: rgba(0%, 0%, 0%, 0);
    border-radius: 10px;
    border: 5px solid rgba(92, 248, 227, 0.836);
    border-width: 5px 5px 5px 5px;
    padding: 3px 10px 2px 10px;
    color: rgb(15, 15, 15);
    font-size: 15px;
    font-family: Pretendo;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1px
}

#active-cust>div {
    color: #999;
    font-size: 10px;
    font-family: Helvetica Neue;
    font-weight: initial;
    font-style: normal;
    text-align: title-2;
    margin: 0px 0px 0px 0px
}

#active-cust>i {
    font-size: 1em;
    border-radius: 0px;
    border: 0px solid transparent;
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    position: static
}

#active-cust>.ld {
    font-size: initial
}

.or {
    color: black;
}

.title-2 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    text-shadow: .5px 2px 3px rgb(70, 205, 247), .5px 2px 25px rgb(92, 248, 248), .5px 2px 25px rgb(248, 92, 183);
}

.title-2 h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}