/* body {
  background: url("/images/abstract-art-artistic-1020315.jpg");
} */

#root {
  margin-right: 10%;
  margin-left: 10%;
}

.App {
  text-align: center;
  position: relative;
}

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: whitesmoke;
  text-shadow: .5px 2px 3px rgb(70, 205, 247),
  .5px 2px 25px rgb(92, 248, 248),
  .5px 2px 25px rgb(248, 92, 183);
}

.btn {
  border-radius: 20px;
  padding: -10px;
}






 .crossfade>figure {
   animation: imageAnimation 45s linear infinite 0s;
   backface-visibility: hidden;
   background-size: cover;
   background-position: center center;
  color: transparent;
   height: 100%;
  left: 0px;
   opacity: 0;
   position: fixed;
   top: 0px;
   width: 100%;
   z-index: 0;
}



.crossfade>figure:nth-child(1) {
  background-image: url('https://wallpapertag.com/wallpaper/full/9/a/9/722889-best-neon-colors-wallpaper-2560x1440.jpg');
}

 .crossfade>figure:nth-child(2) {
   animation-delay: 9s;
   background-image: url('https://i.imgur.com/29XLRVb.jpg');
  
}
 .crossfade>figure:nth-child(3) {
   animation-delay: 18s;
   background-image: url('http://static.minitokyo.net/downloads/24/36/506824.jpg');
  
}

.crossfade>figure:nth-child(4) {
 animation-delay: 27s;
 background-image: url('https://img.fireden.net/v/image/1531/45/1531458268162.jpg');

}

.crossfade>figure:nth-child(5) {
   animation-delay: 36s;
   background-image: url('http://www.itaniumsolutions.org/pics/max/22/220743_tokyo-wallpaper-hd.jpg');
}


 @keyframes 
 
 imageAnimation { 0% {
     animation-timing-function: ease-in;
     opacity: 0;
  } 8% {
     animation-timing-function: ease-out;
     opacity: 1; 
  } 17% {
     opacity: 1 
  } 25% {
     opacity: 0 
  } 100% {
     opacity: 0 
  }
  
}
