.logging-logger{
    color: rgb(111, 141, 180)!important;
}

.logging-logger:hover{
    border-bottom: 1px solid;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    -webkit-transition: text-shadow 2s;
    transition: text-shadow 2s;
}