.image-gif{
    width: 135px;
    height: 135px;
    border-radius: 50%;
    margin-top: 65px;
     border: 5px solid rgba(92, 248, 183, 0.685);
    border-width: 7px;
    margin-left: -3px;
}

#gif-input input {
    border-radius: 20px;
    background-color: #36353b69;
    
}

